footer{
    background: $black;

    .f_wrap{
        width: 1000px;
        margin: 0 auto;
        padding: 1rem 0 2rem 0;

        .sns_aria{
            @include table_layout(1rem, 100%);
    
            li{
                float: left;
                list-style: none;
                padding-right: 1rem;
    
                a{
    
                    i{
                        color: $white;
                        
                        &:hover{
                            transition: 1.0s;
                            color: #b59133;
                        }
                    }
                }
            }
        }
    
        p{
            text-align: center;
            color: $white;
            font-size: 1.6rem;
            letter-spacing: 2px;
        }
    }
}

.start{
    height: 100vh;
	width: 100vw;
    background: $main;
    z-index: 9000;
    position: fixed;
    // top: 0, left: 0, これ大事！
    top: 0;
    left: 0;

    .moon_wrap{
        width: 1000px;
        margin: 0 auto;

        img{
            left: 10rem;
            margin: 10rem 0;
            width: 15rem;
            animation: moonOut 1s linear 2.5s both;
        }

        @keyframes moonOut {
            100%{
                opacity: 0;
            }
        }
    }

    .norimakisan{
        position: fixed;
        top: 50%;
        left: 30%;
        animation: norimaki 1.5s linear 3s both;
        z-index: 9999;
    }

    @keyframes norimaki {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }

    .cloudy_area{
        .cloudy{
            margin-bottom: 5rem;
            width: 15rem;
            display: block;
            

            &:nth-child(1){
                animation: oneIn 2.5s linear 1s both; 
                left: 50vw;
            }
            &:nth-child(2){
                animation: twoIn 2.5s linear 1s both; 
                left: 20vw;
            }
            &:nth-child(3){
                animation: threeIn 2.5s linear 1s both;
                left: 70vw; 
            }


            @keyframes oneIn {
                0%{
                    transform: translateX(50vw);
                    opacity: 1;
                }
                100%{
                    transform: translateX(70vw);
                    opacity: 0;
                }
            }
            @keyframes twoIn {
                0%{
                    transform: translateX(20vw);
                    opacity: 1;
                }
                100%{
                    transform: translateX(40vw);
                    opacity: 0;
                }
            }
            @keyframes threeIn {
                0%{
                    transform: translateX(70vw);
                    opacity: 1;
                }
                100%{
                    transform: translateX(90vw);
                    opacity: 0;
                }
            }
            
        }
    }
    
}