@use "mixin";

.home{

    header{
        @include mixin.background_url('pc/DSC_0011 (1).JPG', 100vw, 100vh, no-repeat);
        position: relative;
        background-size: cover;
        
    
        .menu-my-menu-container{
            position: absolute;
            top: 5rem;
            right: 10vw;
            width: 500px;
            // 要素がabsoluteの場合は重なり具合を意識する
            z-index: 3;

            @include mixin.mq(sp){
                top: 3rem;
                right: 3rem;
                width: 60%;
            }

            @include mixin.mq(sp_s){
                // top: 3vh;
                width: 100%;
                right: 0;
            }

            ul{

                @include mixin.mq(sp_s){
                    width: 80%;
                    padding-left: 3.5rem;
                }

                li{
                    list-style: none;
        
                    a img{
                        width: 130px;
                    }
        
                    &:nth-child(1){
                        text-align: left;

                        a img{
                            @include mixin.mq(sp){
                                width: 90px;
                            }
                            @include mixin.mq(sp_s){
                                width: 80px;
                            }
                        }
                        
                    }
                    &:nth-child(2){
                        text-align: center;
        
                        a img{
                            width: 100px;

                            @include mixin.mq(sp){
                                width: 70px;
                            }
                            @include mixin.mq(sp_s){
                                width: 60px;
                            }
                        }
                    }
                    &:nth-child(3){
                        text-align: right;
                        a img{

                            @include mixin.mq(sp){
                                width: 90px;
                            }
                            @include mixin.mq(sp_s){
                                width: 80px;
                            }
                        }
                    }
                }
            }
            
        }
    
        .h_wrap{
            position: relative;
            width: 900px;
            height: 100%;
            margin: 0 auto;

            @include mixin.mq(tab){
                width: 800px;
            }

            @include mixin.mq(tab_s){
                width: 100%;
            }
            
            p{
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 37%;
                @include mixin.font_pattern(34px, mixin.$white, 500);
                text-align: left;

                @include mixin.mq(tab){
                    bottom: 30%;
                }

                @include mixin.mq(tab_s){
                    text-align: center;
                    bottom: auto;
                    top: 35%;
                    box-sizing: border-box;
                    padding: 0 3rem;
                }

                @include mixin.mq(sp){
                    top: 38%;
                    font-size: 24px;
                }
                
                @include mixin.mq(sp_s){
                    top: 35vh;
                    font-size: 22px;
                }

            }

            .p_1{
                animation: fadeHeader 3s ease-in-out 5s both;
            }
            .p_2{
                animation: fadeHeader 6s ease-in-out 8s both;
            }
            .p_3{
                animation: fadeHeader 5s ease-in-out 14s both;
            }
            .p_4{
                bottom: 40%;
                animation: fadeHeader_2 5s ease-in-out 19s both;

                @include mixin.mq(tab_s){
                    bottom: 35%;
                }
                @include mixin.mq(sp_s){
                    bottom: auto;
                    top: 40%;
                }
            }
                
            
    
            @keyframes fadeHeader {
                0%{
                    
                    opacity: 0;
                }
                10%{
                    opacity: 0.5;
                }
                30%{
                    opacity: 1;
                }
                90%{
                    opacity: 0.5;
                }
                100%{
                    opacity: 0;
                    display: none;
                }
            }
    
            @keyframes fadeHeader_2 {
                0%{
                    
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
    
        }
        
    }
}

.page-id-1987 .wrapper .push,
.page-id-1989 .wrapper .push{
    height: 132px;
}



// カスタム投稿タイプ「制作物」内のheader
// single-productionはbody_class()で自動付与されたもの
.single-production{

    header{
        height: 400px;
        background: mixin.$main;
        position: relative;

        @include mixin.mq(tab_s){
            height: 320px;
        }

        @include mixin.mq(sp){
            height: 200px;
        }

        @include mixin.mq(sp_s){
            height: 170px;
        }

        &::before{
            @include mixin.background_url('pc/Group 147.png', 80%, 80%, no-repeat);
            top: 10%;
            left: 15vw;
            z-index: 2;
            background-size: contain;
            position: absolute;

            @include mixin.mq(tab_s){
                top: 18%;
            }

            @include mixin.mq(sp){
                left: 10vw;
            }

            @include mixin.mq(sp_s){
                left: 5vw;
                width: 90%;
            }
        }
    
        .ph_wrap{
            width: 1000px;
            height: 350px;
            margin: 0 auto;
            position: relative;

            @include mixin.mq(tab){
                width: 900px;
            }
            

            @include mixin.mq(tab_s){
                width: 700px;
            }

            @include mixin.mq(sp){
                width: 76%;
            }

            @include mixin.mq(sp_s){
                width: 90%;
            }
    
            img{
                position: absolute;
                top: 40%;
                left: 4%;
                display: inline-block;
                width: 900px;
                height: auto;
                background-size: cover;
                z-index: 3;

                @include mixin.mq(tab){
                    left: 0;
                }

                @include mixin.mq(tab_s){
                    left: 4%;
                    width: 650px;
                }

                @include mixin.mq(sp){
                    left: 0;
                    width: 100%;
                    top: 25%;
                }

                @include mixin.mq(sp_s){
                    top: 20%;
                }
    
            }
        }
    }
}


.error404{

    header{
        @include mixin.background_url('pc/IMG_0076.JPG', 100vw, 100vh, no-repeat);
        position: relative;
        background-size: cover;

        .dark{
            width: 100%;
            height: 100%;

            @include mixin.mq(tab_s){
                background: rgba(0, 0, 0, 0.3);
            }

            .not_page{
                display: flex;
                justify-content: center;
                height: 30%;
                width: 100%;
                position: relative;

                p{
                    position: absolute;
                    font-weight: 700;
                    letter-spacing: 0.3rem;
                    display: block;
                    bottom: 10rem;
                    right: 10vw;
                    font-size: 2.7rem;  
                    text-align: center;
                    color: mixin.$white;
                    z-index: 3;
            
                    @include mixin.mq(tab_s){
                        font-size: 2.4rem;
                        padding: 0 3rem;
                        bottom: 0;
                        right: auto;
                    }

                    @include mixin.mq(sp_s){
                        font-size: 2.2rem;
                    }

                }
            }

            a{
                @include mixin.btn_pattern(130px, 20px, mixin.$main, 2.5px);
                box-shadow: 1.5rem 1.5rem #323436;
                border: none;
                position: absolute;
                display: inline-block;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto; 
                height: 42.5px;
                content: '';
                text-decoration: none;
                font-weight: bold;
                color: mixin.$black;
                font-size: 1.8rem;
                letter-spacing: 0.1rem;
                transition: 0.5s;


                @include mixin.mq(sp_s){
                    width: 90px;
                    height: 34.5px;
                }
    
                &:hover{
                    transition: 0.5s;
                    background: #98c2f2;
                }
    
                &:active{
                    transition: 0.5s;
                    box-shadow: 0 0 mixin.$white;
                    top: 1.5rem;
                    left: 1.5rem;

                }
    
            }
        }
        
    }

    &::after{
        position: absolute;
        display: inline-block;
        bottom: 15vh;
        left: 6vw; 
        content: 'copyright, UKIGUMO-X';
        font-size: 2rem;
        color: mixin.$white;
        letter-spacing: 0.3rem;

        @include mixin.mq(sp_s){
            left: 10vw;
            font-size: 1.4rem;
        }
    }
}